<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Save Deduction</h4>
                        <p class="card-category">Complete Deduction Details</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date" [(ngModel)]="selectedDeduction.deductionDate" name="Date"  type="date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">

                                    <mat-form-field>
                                        <mat-label>Deduction Type</mat-label>
                                        <mat-select [(ngModel)]="selectedDeduction.types_typeId" name="type">
                                            <mat-option value="Performance Allowance">Performance Allowance </mat-option>
                                            <mat-option value="Medical Allowance ">Medical Allowance</mat-option>
                                            <mat-option value="Bonus">Bonus</mat-option>
                                            <mat-option value="Over Time">Over Time</mat-option>
                                            <mat-option value="Commitions">Commitions</mat-option>
                                            <mat-option value="Vehicle Allowance">Vehicle Allowance</mat-option>
                                            <mat-option value="Fuel Allowance">Fuel Allowance</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Total Amount" [(ngModel)]="selectedDeduction.totalAmount"
                                               name="amount"  type="number">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Employee</mat-label>
                                        <mat-select [(ngModel)]="selectedDeduction.employee_employeeId" name="employee" (change)="getEmployees()">
                                            <mat-option *ngFor="let employees of employee" value="{{employees.employeeId}}">{{employees.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" (click)="saveDeduction()" class="btn btn-primary pull-right">Save Deduction
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Deduction Details </h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                <th>Employee Name</th>
                                <th>Date</th>
                                <th>Deductuin Type</th>
                                <th>Amount</th>
                                </thead>
                                <tbody>
                                <!--<tr *ngFor="let employees of employee;">-->
                                <!--<td>{{ employees.name }}</td>-->
                                <!--<td>{{ employees.designation }}</td>-->
                                <!--<td>{{ employees.address }}</td>-->
                                <!--<td>{{ employees.salary }}</td>-->
                                <!--<td>{{ employees.joinDate }}</td>-->
                                <!--<td>{{ employees.gender }}</td>-->
                                <!--<td>{{ employees.contactNo }}</td>-->
                                <!--<td>{{ employees.dob }}</td>-->
                                <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!--<div class="main-content">-->
  <!--<div class="container-fluid">-->
    <!--<div class="card">-->
        <!--<div class="card-header card-header-danger">-->
            <!--<h4 class="card-title">Material Dashboard Heading</h4>-->
            <!--<p class="card-category">Created using Roboto Font Family</p>-->
        <!--</div>-->
        <!--<div class="card-body">-->
            <!--<div id="typography">-->
                <!--<div class="card-title">-->
                    <!--<h2>Typography</h2>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="tim-typo">-->
                        <!--<h1>-->
                            <!--<span class="tim-note">Header 1</span>The Life of Material Dashboard </h1>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<h2>-->
                            <!--<span class="tim-note">Header 2</span>The Life of Material Dashboard</h2>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<h3>-->
                            <!--<span class="tim-note">Header 3</span>The Life of Material Dashboard</h3>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<h4>-->
                            <!--<span class="tim-note">Header 4</span>The Life of Material Dashboard</h4>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<h5>-->
                            <!--<span class="tim-note">Header 5</span>The Life of Material Dashboard</h5>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<h6>-->
                            <!--<span class="tim-note">Header 6</span>The Life of Material Dashboard</h6>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<p>-->
                            <!--<span class="tim-note">Paragraph</span>-->
                            <!--I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<span class="tim-note">Quote</span>-->
                        <!--<blockquote class="blockquote">-->
                            <!--<p>-->
                                <!--I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.-->
                            <!--</p>-->
                            <!--<small>-->
                                <!--Kanye West, Musician-->
                            <!--</small>-->
                        <!--</blockquote>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<span class="tim-note">Muted Text</span>-->
                        <!--<p class="text-muted">-->
                            <!--I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<span class="tim-note">Primary Text</span>-->
                        <!--<p class="text-primary">-->
                            <!--I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<span class="tim-note">Info Text</span>-->
                        <!--<p class="text-info">-->
                            <!--I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<span class="tim-note">Success Text</span>-->
                        <!--<p class="text-success">-->
                            <!--I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<span class="tim-note">Warning Text</span>-->
                        <!--<p class="text-warning">-->
                            <!--I will be the leader of a company that ends up being worth billions of dollars, because I got the answers...-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<span class="tim-note">Danger Text</span>-->
                        <!--<p class="text-danger">-->
                            <!--I will be the leader of a company that ends up being worth billions of dollars, because I got the answers... </p>-->
                    <!--</div>-->
                    <!--<div class="tim-typo">-->
                        <!--<h2>-->
                            <!--<span class="tim-note">Small Tag</span>-->
                            <!--Header with small subtitle-->
                            <!--<br>-->
                            <!--<small>Use "small" tag for the headers</small>-->
                        <!--</h2>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
