<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Save Profile</h4>
                        <p class="card-category">Complete employee profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <!--<div class="row">-->
                            <!--<div class="col-md-5">-->
                            <!--<mat-form-field class="example-full-width">-->
                            <!--<input matInput placeholder="Company (disabled)" disabled>-->
                            <!--</mat-form-field>-->
                            <!--</div>-->
                            <!--<div class="col-md-3">-->
                            <!--<mat-form-field class="example-full-width">-->
                            <!--<input matInput placeholder="Username">-->
                            <!--</mat-form-field>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                            <!--<mat-form-field class="example-full-width">-->
                            <!--<input matInput placeholder="Email address" type="email">-->
                            <!--</mat-form-field>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Employee Name" [(ngModel)]="selectedEmployee.name"
                                              name="name" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <!--<mat-form-field class="example-full-width">-->
                                    <!--<input matInput placeholder="Last Name" type="text">-->
                                    <!--</mat-form-field>-->
                                    <mat-form-field>
                                        <mat-label>Designation</mat-label>
                                        <mat-select [(ngModel)]="selectedEmployee.designation" name="designation">
                                            <mat-option value="Senior Software Engineer">Senior Software Engineer</mat-option>
                                            <mat-option value="Software Engineer">Software Engineer</mat-option>
                                            <mat-option value="Associate Software Engineer">Associate Software Engineer</mat-option>
                                            <mat-option value="Trainee Associate Software Engineer">Trainee Associate Software Engineer</mat-option>
                                            <mat-option value="Project Manager">Project Manager</mat-option>
                                            <mat-option value="Techlead">Techlead</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Adress" [(ngModel)]="selectedEmployee.address"
                                             name="address"  type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Salary" [(ngModel)]="selectedEmployee.salary"
                                            name="salary"   type="number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Join Date" [(ngModel)]="selectedEmployee.joinDate"
                                             name="joinDate"  type="date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <label>Gender</label>
                                    <div class="example-full-width">
                                        <!--<input matInput placeholder="Postal Code" type="text">-->
                                        <input type="radio" name="gender" class="rectangle-4"
                                               [(ngModel)]="selectedEmployee.gender"
                                               value="male"> Male
                                        <input type="radio" name="gender" class="rectangle-4"
                                               [(ngModel)]="selectedEmployee.gender"
                                               value="female"> Female
                                    </div>
                                    <!--<mat-radio-group aria-label="Select an option">-->
                                    <!--<mat-radio-button value="1">Option 1</mat-radio-button>-->
                                    <!--<mat-radio-button value="2">Option 2</mat-radio-button>-->
                                    <!--</mat-radio-group>-->

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Contact Number"
                                            name="conactNo"   [(ngModel)]="selectedEmployee.contactNo"
                                               type="number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date Of Birth" [(ngModel)]="selectedEmployee.dob"
                                            name="dob" type="date">
                                    </mat-form-field>
                                    <!--<label>About Me</label>-->
                                    <!--<mat-form-field class="example-full-width">-->
                                    <!--<textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>-->
                                    <!--</mat-form-field>-->
                                    <!-- <div class="form-group">

                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <button mat-raised-button type="submit" (click)="saveEmployee()" class="btn btn-primaryg pull-right">Save Profile
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">-->
            <!--<div class="card card-profile">-->
            <!--<div class="card-avatar">-->
            <!--<a href="javascript:void(0)">-->
            <!--<img class="img" src="./assets/img/faces/marc.jpg" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="card-body">-->
            <!--<h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
            <!--<h4 class="card-title">Alec Thompson</h4>-->
            <!--<p class="card-description">-->
            <!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
            <!--</p>-->
            <!--<a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Employee Details </h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Address</th>
                                <th>Salary</th>
                                <th>Join Date</th>
                                <th>Gender</th>
                                <th>Contact No</th>
                                <th>DOB</th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let employees of employee;">
                                    <td>{{ employees.name }}</td>
                                    <td>{{ employees.designation }}</td>
                                    <td>{{ employees.address }}</td>
                                    <td>{{ employees.salary }}</td>
                                    <td>{{ employees.joinDate }}</td>
                                    <td>{{ employees.gender }}</td>
                                    <td>{{ employees.contactNo }}</td>
                                    <td>{{ employees.dob }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
