<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Save Addition</h4>
                        <p class="card-category">Complete Addition Details</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <!--<div class="row">-->
                            <!--<div class="col-md-5">-->
                            <!--<mat-form-field class="example-full-width">-->
                            <!--<input matInput placeholder="Company (disabled)" disabled>-->
                            <!--</mat-form-field>-->
                            <!--</div>-->
                            <!--<div class="col-md-3">-->
                            <!--<mat-form-field class="example-full-width">-->
                            <!--<input matInput placeholder="Username">-->
                            <!--</mat-form-field>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                            <!--<mat-form-field class="example-full-width">-->
                            <!--<input matInput placeholder="Email address" type="email">-->
                            <!--</mat-form-field>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date" [(ngModel)]="selectedAddition.additionDate" name="Date"  type="date">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <!--<mat-form-field class="example-full-width">-->
                                    <!--<input matInput placeholder="Last Name" type="text">-->
                                    <!--</mat-form-field>-->
                                    <mat-form-field>
                                        <mat-label>Addition Type</mat-label>
                                        <mat-select [(ngModel)]="selectedAddition.types_typeId" name="type">
                                            <mat-option value="Performance Allowance">Performance Allowance </mat-option>
                                            <mat-option value="Medical Allowance ">Medical Allowance</mat-option>
                                            <mat-option value="Bonus">Bonus</mat-option>
                                            <mat-option value="Over Time">Over Time</mat-option>
                                            <mat-option value="Commitions">Commitions</mat-option>
                                            <mat-option value="Vehicle Allowance">Vehicle Allowance</mat-option>
                                            <mat-option value="Fuel Allowance">Fuel Allowance</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Total Amount" [(ngModel)]="selectedAddition.totalAmount"
                                               name="amount"  type="number">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Employee</mat-label>
                                        <mat-select [(ngModel)]="selectedAddition.employee_employeeId" name="employee" (change)="getEmployees()">
                                            <mat-option *ngFor="let employees of employee" value="{{employees.employeeId}}">{{employees.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <!--<div class="row">-->
                                <!--<div class="col-md-4">-->
                                    <!--<mat-form-field class="example-full-width">-->
                                        <!--<input matInput placeholder="Salary" [(ngModel)]="selectedEmployee.salary"-->
                                               <!--name="salary"   type="number">-->
                                    <!--</mat-form-field>-->
                                <!--</div>-->
                                <!--<div class="col-md-4">-->
                                    <!--<mat-form-field class="example-full-width">-->
                                        <!--<input matInput placeholder="Join Date" [(ngModel)]="selectedEmployee.joinDate"-->
                                               <!--name="joinDate"  type="date">-->
                                    <!--</mat-form-field>-->
                                <!--</div>-->
                                <!--<div class="col-md-4">-->
                                    <!--<label>Gender</label>-->
                                    <!--<div class="example-full-width">-->
                                        <!--&lt;!&ndash;<input matInput placeholder="Postal Code" type="text">&ndash;&gt;-->
                                        <!--<input type="radio" name="gender" class="rectangle-4"-->
                                               <!--[(ngModel)]="selectedEmployee.gender"-->
                                               <!--value="male"> Male-->
                                        <!--<input type="radio" name="gender" class="rectangle-4"-->
                                               <!--[(ngModel)]="selectedEmployee.gender"-->
                                               <!--value="female"> Female-->
                                    <!--</div>-->
                                    <!--<mat-radio-group aria-label="Select an option">-->
                                    <!--<mat-radio-button value="1">Option 1</mat-radio-button>-->
                                    <!--<mat-radio-button value="2">Option 2</mat-radio-button>-->
                                    <!--</mat-radio-group>-->

                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row">-->
                                <!--<div class="col-md-6">-->
                                    <!--<mat-form-field class="example-full-width">-->
                                        <!--<input matInput placeholder="Contact Number"-->
                                               <!--name="conactNo"   [(ngModel)]="selectedEmployee.contactNo"-->
                                               <!--type="number">-->
                                    <!--</mat-form-field>-->
                                <!--</div>-->
                                <!--<div class="col-md-6">-->
                                    <!--<mat-form-field class="example-full-width">-->
                                        <!--<input matInput placeholder="Date Of Birth" [(ngModel)]="selectedEmployee.dob"-->
                                               <!--name="dob" type="date">-->
                                    <!--</mat-form-field>-->
                                    <!--<label>About Me</label>-->
                                    <!--<mat-form-field class="example-full-width">-->
                                    <!--<textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>-->
                                    <!--</mat-form-field>-->
                                    <!-- <div class="form-group">

                                        <div class="form-group">
                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div> -->
                                <!--</div>-->
                            <!--</div>-->
                            <button mat-raised-button type="submit" (click)="saveAddition()" class="btn btn-primary pull-right">Save Additon
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-4">-->
            <!--<div class="card card-profile">-->
            <!--<div class="card-avatar">-->
            <!--<a href="javascript:void(0)">-->
            <!--<img class="img" src="./assets/img/faces/marc.jpg" />-->
            <!--</a>-->
            <!--</div>-->
            <!--<div class="card-body">-->
            <!--<h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
            <!--<h4 class="card-title">Alec Thompson</h4>-->
            <!--<p class="card-description">-->
            <!--Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
            <!--</p>-->
            <!--<a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> Addition Details </h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                <th>Employee Name</th>
                                <th>Date</th>
                                <th>Addition Type</th>
                                <th>Amount</th>
                                </thead>
                                <tbody>
                                <!--<tr *ngFor="let employees of employee;">-->
                                    <!--<td>{{ employees.name }}</td>-->
                                    <!--<td>{{ employees.designation }}</td>-->
                                    <!--<td>{{ employees.address }}</td>-->
                                    <!--<td>{{ employees.salary }}</td>-->
                                    <!--<td>{{ employees.joinDate }}</td>-->
                                    <!--<td>{{ employees.gender }}</td>-->
                                    <!--<td>{{ employees.contactNo }}</td>-->
                                    <!--<td>{{ employees.dob }}</td>-->
                                <!--</tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="main-content">-->
  <!--<div class="container-fluid">-->
      <!--<div class="row">-->
          <!--<div class="col-md-12">-->
              <!--<div class="card">-->
                  <!--<div class="card-header card-header-danger">-->
                      <!--<h4 class="card-title ">Simple Table</h4>-->
                      <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                  <!--</div>-->
                  <!--<div class="card-body">-->
                      <!--<div class="table-responsive">-->
                          <!--<table class="table">-->
                              <!--<thead class=" text-primary">-->
                                  <!--<th>-->
                                      <!--ID-->
                                  <!--</th>-->
                                  <!--<th>-->
                                      <!--Name-->
                                  <!--</th>-->
                                  <!--<th>-->
                                      <!--Country-->
                                  <!--</th>-->
                                  <!--<th>-->
                                      <!--City-->
                                  <!--</th>-->
                                  <!--<th>-->
                                      <!--Salary-->
                                  <!--</th>-->
                              <!--</thead>-->
                              <!--<tbody>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--1-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Dakota Rice-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Niger-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Oud-Turnhout-->
                                      <!--</td>-->
                                      <!--<td class="text-primary">-->
                                          <!--$36,738-->
                                      <!--</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--2-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Minerva Hooper-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Curaçao-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Sinaai-Waas-->
                                      <!--</td>-->
                                      <!--<td class="text-primary">-->
                                          <!--$23,789-->
                                      <!--</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--3-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Sage Rodriguez-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Netherlands-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Baileux-->
                                      <!--</td>-->
                                      <!--<td class="text-primary">-->
                                          <!--$56,142-->
                                      <!--</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--4-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Philip Chaney-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Korea, South-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Overland Park-->
                                      <!--</td>-->
                                      <!--<td class="text-primary">-->
                                          <!--$38,735-->
                                      <!--</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--5-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Doris Greene-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Malawi-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Feldkirchen in Kärnten-->
                                      <!--</td>-->
                                      <!--<td class="text-primary">-->
                                          <!--$63,542-->
                                      <!--</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--6-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Mason Porter-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Chile-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Gloucester-->
                                      <!--</td>-->
                                      <!--<td class="text-primary">-->
                                          <!--$78,615-->
                                      <!--</td>-->
                                  <!--</tr>-->
                              <!--</tbody>-->
                          <!--</table>-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-12">-->
              <!--<div class="card card-plain">-->
                  <!--<div class="card-header card-header-danger">-->
                      <!--<h4 class="card-title mt-0"> Table on Plain Background</h4>-->
                      <!--<p class="card-category"> Here is a subtitle for this table</p>-->
                  <!--</div>-->
                  <!--<div class="card-body">-->
                      <!--<div class="table-responsive">-->
                          <!--<table class="table table-hover">-->
                              <!--<thead class="">-->
                                  <!--<th>-->
                                      <!--ID-->
                                  <!--</th>-->
                                  <!--<th>-->
                                      <!--Name-->
                                  <!--</th>-->
                                  <!--<th>-->
                                      <!--Country-->
                                  <!--</th>-->
                                  <!--<th>-->
                                      <!--City-->
                                  <!--</th>-->
                                  <!--<th>-->
                                      <!--Salary-->
                                  <!--</th>-->
                              <!--</thead>-->
                              <!--<tbody>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--1-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Dakota Rice-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Niger-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Oud-Turnhout-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--$36,738-->
                                      <!--</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--2-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Minerva Hooper-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Curaçao-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Sinaai-Waas-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--$23,789-->
                                      <!--</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--3-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Sage Rodriguez-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Netherlands-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Baileux-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--$56,142-->
                                      <!--</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--4-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Philip Chaney-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Korea, South-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Overland Park-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--$38,735-->
                                      <!--</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--5-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Doris Greene-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Malawi-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Feldkirchen in Kärnten-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--$63,542-->
                                      <!--</td>-->
                                  <!--</tr>-->
                                  <!--<tr>-->
                                      <!--<td>-->
                                          <!--6-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Mason Porter-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Chile-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--Gloucester-->
                                      <!--</td>-->
                                      <!--<td>-->
                                          <!--$78,615-->
                                      <!--</td>-->
                                  <!--</tr>-->
                              <!--</tbody>-->
                          <!--</table>-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->
  <!--</div>-->
<!--</div>-->
